<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provider %><br />
    <%= f.text_area :provider %>
  </div>
  <div class="field">
    <%= f.label :uid %><br />
    <%= f.text_area :uid %>
  </div>
    <div class="field">
      <%= f.label :access_token %><br />
      <%= f.text_area :access_token %>
    </div>
    <div class="field">
      <%= f.label :secret %><br />
      <%= f.text_area :secret %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
